**/*.md
**/*.svg
**/*.ejs
**/*.html
**/*.toml

package.json
yarn-error.log

Dockerfile*
LICENSE

/dist
/build
/public

.DS_Store
.umi
.umi-production
.umi-test
.dockerignore
.editorconfig
.gitignore
.prettierignore
.eslintcache
.history
